{% extends "base.html" %}
<!-- prettier-ignore -->
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static "css/pelayanan.css" %}">
<link rel="stylesheet" href="{% static "vendor/bootstrap.css" %}">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>
<link href="https://db.onlinewebfonts.com/c/85969c0f53ef6a4eddee59ec6ebaaabd?family=Rosella+W01+Solid" rel="stylesheet">
{% endblock style %}
{% block content %}
<div id="header" class="relative text-[#fff]">
  <div class="w-full h-[300px] bg-[#2577B4] flex lg:items-center items-end justify-around ">
    <img src="{% static "img/tower.png" %}" alt="" class="lg:h-full h-1/2 z-19">
    <h2 class="z-19 lg:pb-0 pb-30">Izin Stasiun Radio</h2>
    <img src="{% static "img/tower.png" %}" alt="" class="lg:h-full h-1/2 z-19">
  </div>
  <img src="{% static "img/gedung.png" %}" alt="" class="absolute h-[200px] bottom-0 left-10">
  <img src="{% static "img/gelombang.png" %}" alt="" class="absolute h-[200px] top-15 left-110">
  <img src="{% static "img/gedung2.png" %}" alt="" class="absolute h-[200px] bottom-0 left-205">
</div>
{% block title %}
<div class="w-full h-[70px] bg-[#002846] flex items-center pl-15">
  <ul class="flex text-[#fff] m-0 gap-3">
    <li>Home</li>
    <li>/</li>
    <li>Profiles</li>
    <li>/</li>
    <li>{{title.1}}</li>
  </ul>
</div>
{% endblock title %}

<div class="bg-[#003c69] text-[#fff]">

  <div id="izinAmatir" class="pt-5">
    <div class="lg:w-[60%] lg:mx-auto mx-10 bg-gradient-to-br from-[#00508c] to-[#2577B4] rounded-xl">
      <div class="px-5 py-5 items-center text-justify">
        <div class="">
          <h1>Izin Stasiun Radio</h1>
          <p class="m-0">Izin Stasiun Radio (ISR) adalah izin resmi dari pemerintah bagi individu atau instansi untuk menggunakan frekuensi radio pada perangkat pemancar tertentu. Dokumen ini berfungsi untuk menjamin legalitas penggunaan sinyal dan mencegah terjadinya gangguan frekuensi (interferensi) antar pengguna di suatu wilayah.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="izinKomunikasi" class="pb-4">
    <div class="lg:w-[60%] lg:mx-auto mx-10 bg-gradient-to-br from-[#00508c] to-[#2577B4] rounded-xl mt-4">
      <div class="flex px-5 py-4 items-center gap-4">
        <img src="{% static "img/docs.png" %}" alt="" class="w-[150px] lg:flex hidden">
        <div class="bg-[#003c69] rounded-xl p-4 h-full">
          <p>Dokumen persyaratan Izin Stasiun Radio (ISR)</p>
          <a href="https://drive.google.com/drive/folders/1ZJ8RW5oKTYWo463fIfjEY2r_OvRPunde">
            <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">Lihat Disini</button>
          </a>
        </div>
        <div class="bg-[#003c69] rounded-xl p-4 h-full">
          <p>E-Licensing Izin Stasiun Radio</p>
          <a href="https://isr.postel.go.id/">
            <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">Lihat Disini</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-3 pb-5">
      <div id="dropdownContent" class="lg:w-[60%] lg:mx-auto mx-10 bg-[#fff] text-[#000] rounded-lg ">
          <details>
              <summary class="p-2">Persyaratan Permohonan (ISR) Baru Dinas Tetap</summary>
              <p class="m-0 pb-2 px-4 border-t-1 border-black bg-[#e2e8f0] rounded-b-lg">Surat permohonan ISR ditujukan kepada Dirjen Sumber Daya dan Perangkat Pos dan Informatika cq. Direktur Operasi Sumber Daya. </p>
              <ul class="m-0  px-5 bg-[#e2e8f0] rounded-b-lg list-decimal">
                <li>Surat pernyataan kesanggupan membayar BHP Frekuensi Radio.</li>
                <li>Salinan Nomor Pokok Wajib Pajak (NPWP).</li>
                <li>Salinan akta pendirian badan hukum perusahaan dan akta perubahan beserta pengesahannya.</li>
                <li> Salinan izin prinsip dan/atau izin penyelenggaraan jaringan telekomunikasi bagi penyelenggara jaringan telekomunikasi atau izin prinsip dan/atau izin penyelenggaraan penyiaran bagi penyelenggara penyiaran (khusus untuk STL Televisi Siaran).</li>
                <li><a href="https://www.postel.go.id/downloads/docs/20150121092135-Formulir_SR-DTBD.pdf">Isian Formulir ISR yang telah diisi dengan lengkap dan benar.</a></li>
                <li>Gambar konfigurasi jaringan komunikasi radio dan peta lokasi.</li>
                <li>Data spesifikasi teknis perangkat dan/atau brosur perangkat radio dan antenna. Perangkat yang akan digunakan telah memiliki sertifikat perangkat dari Ditjen Sumber Daya dan Perangkat Pos dan Informatika serta sesuai dengan perencanaan pengkanalan Microwave Link.</li>
              </ul>
          </details>
      </div>
      <div id="dropdownContent" class="lg:w-[60%] lg:mx-auto mx-10 bg-[#fff] text-[#000] rounded-lg ">
          <details>
              <summary class="p-2">Persyaratan Permohonan (ISR) Baru Dinas Bergerak Darat</summary>
              <ul class="m-0 pt-2 px-5 bg-[#e2e8f0] rounded-b-lg list-decimal">
                <li>Surat permohonan ISR ditujukan kepada Dirjen Sumber Daya dan Perangkat Pos dan Informatika cq. Direktur Operasi Sumber Daya.</li>
                <li>Surat pernyataan kesanggupan membayar BHP Frekuensi Radio.</li>
                <li>Salinan Nomor Pokok Wajib Pajak (NPWP).</li>
                <li> Salinan akta pendirian badan hukum perusahaan dan akta perubahan beserta pengesahannya.</li>
                <li>Salinan izin prinsip dan/atau izin penyelenggaraan penyiaran bagi penyelenggara penyiaran (khusus untuk STL Radio Siaran).</li>
                <li><a href="https://www.postel.go.id/downloads/docs/20150121092135-Formulir_SR-DTBD.pdf">Isian Formulir ISR yang telah diisi dengan lengkap dan benar.</a></li>
                <li>Gambar konfigurasi jaringan komunikasi radio dan peta lokasi.</li>
              </ul>
          </details>
      </div>
      <div id="dropdownContent" class="lg:w-[60%] lg:mx-auto mx-10 bg-[#fff] text-[#000] rounded-lg ">
          <details>
              <summary class="p-2">Persyaratan Persyaratan Permohonan (ISR) Baru Penyiaran</summary>
              <p class="m-0 py-2 px-4 border-t-1 border-black bg-[#e2e8f0] rounded-b-lg">
              1. Surat Permohonan (Asli);<br>
              2. Surat Pernyataan Kesanggupan Membayar BHP Frekuensi Radio (Bermaterai); <br>
              3. Izin Prinsip Penyelenggaraan Penyiaran (FC); <br>
              4. Surat Kuasa (FC);<br>
              5. ID Karyawan (FC);<br>
              6. <a href="https://www.postel.go.id/downloads/docs/20150121093236-Form_ISR_NDTBD_Broadcast.pdf">Isian Formulir ISR yang telah diisi dengan lengkap dan benar.</a><br>
              7. Isian Form A <br>
              8. Isian Form B1 s.d. B5 <br>
              9. Brosur (Spesifikasi Teknis) Perangkat Radio; <br>
              10. Brosur (Spesifikasi Teknis) Perangkat Antena; <br>
              11. Sertifikasi Perangkat; <br>
              12. NPWP 
              </p>
          </details>
      </div>
      <div id="dropdownContent" class="lg:w-[60%] lg:mx-auto mx-10 bg-[#fff] text-[#000] rounded-lg ">
          <details>
              <summary class="p-2">Persyaratan Permohonan Perubahan data dan Penggudangan ISR</summary>
              <ul class="m-0 pt-2 px-5 bg-[#e2e8f0] rounded-b-lg list-decimal">
                <li>Surat permohonan ISR ditujukan kepada Dirjen Sumber Daya dan Perangkat Pos dan Informatika cq. Direktur Operasi Sumber Daya.</li>
                <li>Salinan ISR</li>
                <li>Permohonan ISR dinas bergerak darat tidak diperbolehkan menggunakan perangkat radio amatir atau perangkat radio maritim.</li>
                <li>Salinan dokumen pendukung terkait permohonan perubahan data ISR</li>
                <li>Permohonan ISR dinas bergerak darat tidak diperbolehkan menggunakan perangkat radio amatir atau perangkat radio maritim.</li>
              </ul>
          </details>
      </div>
      <div id="dropdownContent" class="lg:w-[60%] lg:mx-auto mx-10 bg-[#fff] text-[#000] rounded-lg ">
          <details>
              <summary class="p-2">Persyaratan Permohonan Perubahan data alamat Kantor dan Stasiun</summary>
              <p class="m-0 py-2 px-4 border-t-1 border-black bg-[#e2e8f0] rounded-b-lg">
              1. Surat Permohonan ke Kementerian Komunikasi;<br>
              2. Surat Tembusan ke SDPPI.
              </p>
          </details>
      </div>
      <div id="dropdownContent" class="lg:w-[60%] lg:mx-auto mx-10 bg-[#fff] text-[#000] rounded-lg ">
          <details>
              <summary class="p-2">Alur Permohonan ISR serta Ketentuan Perizinan Frekuensi Radio Dinas Tetap</summary>
              <ul class="m-0 pt-2 px-5 bg-[#e2e8f0] rounded-b-lg list-decimal">
                <li>Permohonan ISR Dinas Tetap – Microwave Linkdapat diajukan melalui fasilitas perizinan online (elicensing), Pusat Pelayanan Terpadu Ditjen SDPPI atau melalui jasa perposan. Pengajuan permohonan ISR harus dilakukan oleh pengguna frekuensi radio atau perwakilan yang ditunjuk dengan surat kuasa dan tidak diperkenankan melalui pihak ketiga (Calo).</li>
                <li>Surat Pemberitahun Pembayaran (SPP) Biaya Hak Penggunaan (BHP) Frekuensi Radio untuk permohonan ISR baru berlaku selama 60 (enam puluh) hari sejak diterbitkan. Apabila tidak dilakukan pembayaran BHP Frekuensi Radio, maka permohonan ISR dibatalkan.</li>
                <li>SPP BHP Frekuensi Radio untuk perpanjangan tahunan diterbitkan 60 (enam puluh) hari sebelum jatuh tempo. Wajib bayar dapat meminta SPP BHP Frekuensi Radio tersebut, apabila belum menerimanya atau dapat mengunduh SPP BHP Frekuensi Radio melalui fasilitas elicensing.</li>
                <li>Pembayaran BHP Frekuensi Radio dilakukan sebelum jatuh tempo setiap tahunnya. Keterlambatan pembayaran BHP Frekuensi Radio dikenakan sanksi administrasi berupa denda sebesar 2% (dua persen) per bulan sesuai peraturan perundang-undangan.</li>
                <li>Pembayaran Biaya Hak Penggunaan (BHP) Frekuensi Radio dapat dilakukan melalui sistem host-to-host, ATM daninternet bankingBank Mandiri dengan Kode Instansi 50000 (Ditjen SDPPI) dan cukup mencantumkan Kode Pemohon (Client_ID) dan Nomor Invoice (SPP).</li>
                <li>Penggunaan frekuensi radio harus sesuai dengan ISR. Perubahan data administrasi, perpindahan alamat lokasi dan data teknis stasiun radio terlebih dahulu harus mendapatkan persetujuan dengan mengajukan permohonan perubahan data ISR kepada Direktur Jenderal Sumber Daya dan Perangkat Pos dan Informatika cq. Direktur Operasi Sumber Daya.</li>
                <li>Permohonan penghentian izin atau penggudangan ISR diajukan selambat-lambatnya 90 (sembilan puluh) hari sebelum jatuh tempo pembayaran BHP Frekuensi Radio tahunan.</li>
                <li>Penggunaan spektrum frekuensi radio yang tidak memiliki ISR atau tidak sesuai peruntukannya dipidana dengan pidana penjara paling lama 4 (empat) tahun dan atau denda paling banyak Rp 400.000.000,- (empat ratus juta rupiah). Apabila menimbulkan kematian dipidana dengan pidana penjara paling lama 15 (lima belas) tahun.</li>
                <li>Pelanggaraan terhadap ketentuan penggunaan frekuensi radio dapat dikenakan sanksi administrasi berupa pencabutan ISR.</li>
              </ul>
          </details>
      </div>
      <div id="dropdownContent" class="lg:w-[60%] lg:mx-auto mx-10 bg-[#fff] text-[#000] rounded-lg ">
          <details>
              <summary class="p-2">Persyaratan Permohonan Penggudangan dan Perubahan data Frekuensi dan Perangkat</summary>
              <p class="m-0 py-2 px-4 border-t-1 border-black bg-[#e2e8f0] rounded-b-lg">
              1. Surat Permohonan Perubahan Data Perangkat;<br>
              2. Surat Kuasa (bermaterai); <br>
              3. Gambar Diagram Sistem Pemancar; <br>
              4. Isian Form A <br>
              5. Isian Form F 
              </p>
          </details>
      </div>
  </div>
</div>


{% endblock content %}
{% block script %}

<script>
  const navLinks = document.querySelector(".nav-links");
  function onToggleMenu(e) {
    e.name = e.name === "menu-outline" ? "close-outline" : "menu-outline";
    navLinks.classList.toggle("invisible");
  }
</script>

<script>
  const navLinks2 = document.querySelector(".nav-links2");
  function onToggleMenu2(e) {
    e.name == "menu-outline2"
    navLinks2.classList.toggle("hidden");
  }
</script>

<script>
  const navLinks3 = document.querySelector(".nav-links3");
  function onToggleMenu3(e) {
    e.name == "menu-outline3"
    navLinks3.classList.toggle("hidden");
  }
</script>

<script>
  const navLinks4 = document.querySelector(".nav-links4");
  function onToggleMenu4(e) {
    e.name == "menu-outline4"
    navLinks4.classList.toggle("hidden");
  }
</script>

<script>
  const navLinks5 = document.querySelector(".nav-links5");
  function onToggleMenu5(e) {
    e.name == "menu-outline5"
    navLinks5.classList.toggle("hidden");
  }
</script>

<script>
  const navLinks6 = document.querySelector(".nav-links6");
  function onToggleMenu6(e) {
    e.name == "menu-outline6"
    navLinks6.classList.toggle("hidden");
  }
</script>

<script>
  const navLinks7 = document.querySelector(".nav-links7");
  function onToggleMenu7(e) {
    e.name == "menu-outline7"
    navLinks7.classList.toggle("hidden");
  }
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Elemen-elemen yang diperlukan
    const thumbnail = document.getElementById("thumbnail-image");
    const modal = document.getElementById("image-modal");
    const modalImage = document.getElementById("modal-image");
    const closeModal = document.getElementById("close-modal");

    // Fungsi untuk membuka modal
    function openModal() {
      modal.classList.remove("hidden");
      modal.classList.add("flex");
      document.body.style.overflow = "hidden"; // Mencegah scroll
    }

    // Fungsi untuk menutup modal
    function closeModalFunc() {
      modal.classList.add("hidden");
      modal.classList.remove("flex");
      document.body.style.overflow = "auto"; // Mengembalikan scroll
    }

    // Event listener untuk thumbnail
    thumbnail.addEventListener("click", openModal);

    // Event listener untuk tombol close
    closeModal.addEventListener("click", closeModalFunc);

    // Tutup modal ketika klik di luar gambar
    modal.addEventListener("click", function (event) {
      if (event.target === modal) {
        closeModalFunc();
      }
    });

    // Tutup modal dengan tombol Escape
    document.addEventListener("keydown", function (event) {
      if (event.key === "Escape" && !modal.classList.contains("hidden")) {
        closeModalFunc();
      }
    });
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<script src="{% static "vendor/bootstrap.js" %}"></script>
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
  integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
  crossorigin="anonymous"
></script>
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>

{% endblock script %}