{% extends "base.html" %} {% load static %} {% block style %} <link
rel="stylesheet" href="{% static "blog/css/style.css" %}"> <link rel="stylesheet"
href="{% static "vendor/bootstrap.css" %}">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

{% endblock style %} {% block content %} {% include "snippets/header.html" %}
<!-- prettier-ignore -->
{% block title %}
<div class="w-full h-[70px] bg-[#002846] flex items-center pl-15">
  <ul class="flex text-[#fff] m-0 gap-4">
    <li>Home</li>
    <li>/</li>
    <li>Blog</li>
    <li>/</li>
    <li>{{title.0}}</li>
  </ul>
</div>
{% endblock title %}

<div class="flex bg-[#00508c]">
  <div class="bg-[#00508c]">
    <div class="bg-[#00508c] pt-20 px-20 flex">
      <input
        type="text"
        class="p-2 rounded-l bg-[#002846] text-[#fff]"
        placeholder="Search"
      />
      <div class="bg-[#00b5f1] flex items-center p-3 rounded-r">
        <button>
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
    <div class="px-20 bg-[#00508c]">
      <div class="p-3 bg-[#002846] w-[260px] rounded-lg mt-3 text-white">
        <h5 class="m-0">Categories</h5>
      </div>
    </div>
    <div id="kategori" class="px-20 bg-[#00508c] pt-3">
      <div
        class="flex border-1 border-[#00b5f1] w-[260px] items-center p-2 text-[#fff] gap-2 "
      >
        <i class="fa-solid fa-newspaper pl-4"></i>
        <a href="/blog/artikel/category/artikel" class="m-0 ">Artikel</a>
      </div>
      <div
        class="flex border-1 border-[#00b5f1] w-[260px] items-center p-2 text-white gap-2"
      >
        <i class="fa-solid fa-newspaper pl-4"></i>
        <a href="/blog/artikel/category/Pengumuman" class="m-0 ">Pengumuman</a>
      </div>
      <div
        class="flex border-1 border-[#00b5f1] w-[260px] items-center p-2 text-white gap-2"
      >
        <i class="fa-solid fa-newspaper pl-4"></i>
        <a href="/blog/artikel/category/Kegiatan" class="m-0 ">Ragam Kegiatan</a>
      </div>
    </div>
  </div>
  <div id="content" class="w-full pt-20 text-white pr-20">
    {% comment %} card {% endcomment %}

    <div class="">
      <div class="">
        <h1>{{postingan.title}}</h1>
      </div>
      <div class="">
        <img src="{{postingan.image.url}}" alt="" class="mx-auto rounded-xl w-full">
        <div class="my-2">
          <i class="fa-regular fa-calendar-days"></i>
          <span>{{postingan.publish}}</span>
        </div>
      </div>
      <div class="text-justify">
        <p>{{postingan.body}}</p>
      </div>
    </div>
  
    {% comment %} endcard {% endcomment %}
    
    
  </div>
</div>

<!-- prettier-ignore -->
{% endblock content %} {% block script %}
<script>
  const navLinks = document.querySelector(".nav-links");
  function onToggleMenu(e) {
    e.name = e.name === "menu-outline" ? "close-outline" : "menu-outline";
    navLinks.classList.toggle("invisible");
  }
</script>

<script>
  const navLinks2 = document.querySelector(".nav-links2");
  function onToggleMenu2(e) {
    e.name == "menu-outline2"
    navLinks2.classList.toggle("hidden");
  }
</script>

<script>
  const navLinks3 = document.querySelector(".nav-links3");
  function onToggleMenu3(e) {
    e.name == "menu-outline3"
    navLinks3.classList.toggle("hidden");
  }
</script>

<script>
  const navLinks4 = document.querySelector(".nav-links4");
  function onToggleMenu4(e) {
    e.name == "menu-outline4"
    navLinks4.classList.toggle("hidden");
  }
</script>

<script>
  const navLinks5 = document.querySelector(".nav-links5");
  function onToggleMenu5(e) {
    e.name == "menu-outline5"
    navLinks5.classList.toggle("hidden");
  }
</script>

<script>
  const navLinks6 = document.querySelector(".nav-links6");
  function onToggleMenu6(e) {
    e.name == "menu-outline6"
    navLinks6.classList.toggle("hidden");
  }
</script>

<script>
  const navLinks7 = document.querySelector(".nav-links7");
  function onToggleMenu7(e) {
    e.name == "menu-outline7"
    navLinks7.classList.toggle("hidden");
  }
</script>

<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<script src="{% static "vendor/bootstrap.js" %}">
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
  integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
  crossorigin="anonymous"
></script>
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>

{% endblock script %}
